@{
  ViewBag.Title = "brite spokes - terms & conditions";
  ViewBag.PageId = "policy";
  Layout = "~/Views/Shared/_LayoutCheckout.cshtml";
}
<div class='container primary'>
  <p>Sorry! Having a dim moment ... lights should be back on momentarily.</p>
</div>