/* Main stats up of screen */
#main-stats {
  margin-left: -20px;
  margin-right: -20px;
  background-color: #fdfdfd;
  border-bottom: 1px solid #efeef3;
}
#main-stats .stats-row {
  box-shadow: inset -1px 0px 5px 2px #f9f9f9;
}
#main-stats .stat {
  text-align: right;
  padding: 30px 0px 35px 0px;
  border-right: 1px solid #e8e9ee;
  position: relative;
  box-shadow: 1px 0px 0px 0px white;
}
#main-stats .stat.last {
  border-right: 0px;
}
#main-stats .stat .data {
  color: #29323a;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding-right: 50px;
}
#main-stats .stat .data .number {
  color: #32a0ee;
  font-size: 25px;
  margin-right: 15px;
}
#main-stats .stat .date {
  color: rgb(180, 184, 187);
  font-weight: lighter;
  font-family:  'Lato', 'Open Sans';
  font-style: italic;
  font-size: 13px;
  position: absolute;
  right: 50px;
}

/* form sidebar*/

.edit-form .form-wrapper .with-sidebar, .item-list .with-sidebar {
  border-right: 1px solid #edeef1;
  box-shadow: 4px 0px 3px -1px rgba(226, 226, 226, 0.1);
}

.edit-form .form-sidebar .alert, .item-list .item-sidebar .alert {
  margin: 20px 0px 60px 0px;
}
.edit-form .form-sidebar .alert i, .item-list .item-sidebar .alert i {
  margin-bottom: 40px;
}
.edit-form .form-sidebar h6, .item-list .item-sidebar h6 {
  font-weight: 600;
  text-transform: uppercase;
}
.edit-form .form-sidebar p, .item-list .item-sidebar .alert {
  color: #777e86;
}
.edit-form .form-sidebar ul, .item-list .item-sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.edit-form .form-sidebar ul a, .item-list .item-sidebar ul a {
  text-decoration: underline;
}

.edit-form a.btn-cancel {
  color: #7e91aa;
  font-weight: 500;
  text-transform: uppercase;
  border: 0 none;
  background: none;
  text-decoration: underline;
  font-size: 12px;
  width: auto;
}

/* Tour Sidebar Menu */
.tour-sidebar h6 a{
  color: #333333;
}

.tour-sidebar li.active > a {
  font-weight: bold;
  color: #333333;
  text-decoration: none !important;
}

/* responsive */

@media (max-width: 480px) {

}
@media (max-width: 767px) {
  #main-stats {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {

}
@media (max-width: 979px) {
  #main-stats .stat .data {
    padding-right: 17px;
  }
}
@media (min-width: 980px) {
  .ui-elements .knob-wrapper + .knob-wrapper {
    margin-left: 5px;
  }
}
@media (min-width: 1200px) {
  .ui-elements .knob-wrapper + .knob-wrapper {
    margin-left: 35px;
  }
  .ui-elements .showcase {
    width: 53%;
  }
}

/* custom styles */
.bigger-175 {
  font-size: 175%;
}

.blue {
  color: #0088cc;
}

.grid2 {
  width: 48%;
  padding: 0 2%;
  margin: 0;
  float: left;
  box-sizing: border-box;
  display: block;
  border-left: 1px solid #e3e3e3;
}

.grid2:first-child {
  border-left: none;
}

.center, .align-center {
  text-align: center;
}

.hr.dotted {
  border-top-style: dotted;
}
.hr-12, .hr12 {
  margin: 12px 0;
}
.hr-16, .hr16 {
  margin: 16px 0;
}
.hr {
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 0;
  border-top: 1px solid #e3e3e3;
  margin: 12px 0;
}