@{
  //ViewBag.Title = "brite spokes - contact us";
  ViewBag.PageId = "contact";
}
<div class='container primary'>
  <h1>brite spokes</h1>
  <p class='lead'>1.800.986.4735</p>
  <p class='lead'>1.212.596.1079</p>
  <p class='lead'>Hours of Operation 8:30AM – 5:30PM EST</p>
  <div class='row'>
    <div class='point-of-contact'>
      Customer Service (Pre/Post Trip)
      <br>
      <a href='mailto:britefolks@britespokes.com'>britefolks@britespokes.com</a>
    </div>
    <div class='point-of-contact'>
      On-Site Support (24/7 Support)
      <br>
      <a href='mailto:onsitesupport@britespokes.com'>onsitesupport@britespokes.com</a>
    </div>
    <div class='point-of-contact'>
      Partnerships
      <br>
      <a href='mailto:partnerships@britespokes.com'>partnerships@britespokes.com</a>
    </div>
    <div class='point-of-contact'>
      Corporate / Group Bookings
      <br>
      <a href='mailto:sales@britespokes.com'>sales@britespokes.com</a>
    </div>
    <div class='point-of-contact'>
      Technical Support (Website Issues)
      <br>
      <a href='mailto:support@britespokes.com'>support@britespokes.com</a>
    </div>
    <div class='point-of-contact'>
      Press / Media
      <br>
      <a href='mailto:media@britespokes.com'>media@britespokes.com</a>
    </div>
    <div class='point-of-contact'>
      Perspective Submissions
      <br>
      <a href='mailto:britesubmits@britespokes.com'>britesubmits@britespokes.com</a>
    </div>
  </div>
</div>
