@{
  //ViewBag.Title = "brite spokes - perspectives";
  ViewBag.PageId = "perspectives";
}
<div class='carousel slide'>
  <div class='carousel-inner'>
    <div class='item active'>
      <img alt='' src='@Url.AssetUrl("images/perspectives/header.jpg")'>
    </div>
  </div>
</div>
<div class='container primary'>
  <h1>perspectives</h1>
  <p>There are moments that we never forget. Sometimes you don’t even know why you remember something because it feels so insignificant at the time but for whatever reason the smell, taste, color, people and feeling stay with you forever. Then there are moments that we think we will never forget but somehow do. Moments that get lost in the shuffle.</p>
  <p>brite spokes invites you to live in the present and we in turn will try to help you remember your past. When you come across one of these special moments on your brite trip, in real time, send us your notes, photos, quotes and perspective on it. What was it like to drive using only your side windows to guide you? Did someone say something really funny at a completely inopportune time and you broke out into laughter? Did you taste something that actually made you cry when you finished it? Did you discover that you may in fact now have a hobby and no longer have to fake it on your resume? Whatever your moment or your perspective, we will keep it on our website and file it away for you. Thank you britely.</p>
  <p>To submit, write to us at <a href="mailto:britesubmits@britespokes.com">britesubmits@britespokes.com</a>.</p>
</div>