@{
  //ViewBag.Title = "brite spokes - terms & conditions";
  ViewBag.PageId = "policy";
}
<div class='container primary'>
  <h1>Terms and Conditions</h1>

  <p>Welcome to britespokes.com</p>

  <p>&ldquo;brite spokes&rdquo;&reg; is a registered trade name of Allied T Pro Nevada, Inc., 500 Seventh Avenue, New York, NY 10018, a Nevada corporation that owns and maintains this website and owns or licenses all of the information, photographs, data and other material contained herein (the "Content").  Allied T Pro Nevada, Inc. is a member of the Kuoni Travel Group, and is owned by Kuoni Travel Holding Ltd., a publicly traded Swiss corporation.</p>

  <h1>Agreement between user and the owner of www.britespokes.com</h1>

  <p>The purpose of this Site is to sell the products and services of brite spokes to the public, and to provide other information about our company.  Whether you make a purchase or not, by using this Site you are indicating that you have read all of the Terms and Conditions contained herein (including the Site Sections entitled “Site Usage” and “Privacy Policy”, which are incorporated herein and made a part hereof), that you accept them without modification, and that you will abide by them.  This constitutes an Agreement between the user and Allied T Pro Nevada, Inc.  Please keep a copy of these Terms and Conditions for your reference.</p>

  <h1>Reservations</h1>

  <p>To place a reservation for a Tour, please go to a Tour specific product detail page within “Experiences”, select a departure date and select “Book It”.  After you complete the checkout process we will send you an order confirmation email.</p>

  <h1>Pricing</h1>

  <p>Prices are fixed and set as of the time of purchase.  Future discounting, if any, will not be available unless a Cancellation and repurchase is made prior to the thirty (30) day cut-off (see “Changes”, below).</p>

  <h1>Payments</h1>

  <p>We accept Visa, MasterCard, AMEX, and Discover on our website.</p>

  <p>We do not accept checks or electronic fund transfers at this time.</p>

  <p>Payment in full is required to guarantee your reservation.</p>

  <h1>Documents</h1>

  <p>Once your reservation is paid for and guaranteed, we will send you your final travel documents by email approximately 14 days prior to your departure. These documents will include your daily itinerary, hotel and emergency contact information, and any other relevant information.</p>

  <h1>Changes</h1>

  <p>All booking changes or special requests must made more than thirty (30) days prior to departure and must be submitted to brite spokes Client Services directly, either by email at <a href="mailto:britefolks@britespokes.com">britefolks@britespokes.com</a> or by telephone at 1.800.986.4735.  Such requests are not to be sent directly to brite spokes contracted suppliers (Hotels, Tour Guides, Service Providers etc.), which may be listed on your itinerary.</p>

  <p>After thirty one (31) days prior to departure of your Tour, we cannot make any changes to your booking except cancellation.</p>

  <h1>Cancellations</h1>

  <p>All cancellations must be made prior to thirty (30) days of departure in writing and will incur a per-person cancellation fee of $300.00. No refund will be given for cancellations within thirty (30 days of departure. In addition, changes and cancellations may also incur fees or penalties imposed by our vendors. In particular, some tickets to shows or events are non-refundable once issued.  If you need to make a change or cancellation, please contact us and we will advise you of the total of such fees.</p>

  <h1>Communication with Suppliers</h1>

  <p>All communication between our contracted suppliers must be via brite spokes.  No supplier or passenger can make representation on behalf of brite spokes.  brite spokes cannot be held responsible if these procedures are not followed and will not be liable for any subsequent claims for compensation, refunds or waiving of fees.</p>

  <h1>Tour Participation</h1>

  <p>Children’s hotel rates apply to passengers 16 and under sharing a room and using existing bedding with 2 full-paying passengers (regardless of age). Bedding preferences may be indicated when your reservations are made. We cannot guarantee that the hotel will be able to fulfill them at no additional charge.</p>

  <p>The maximum total room occupancy allowed for our Tours is 4 people, regardless of age.</p>

  <p>brite spokes strongly recommends that children be a minimum of 12 years old to participate in our Tours and bookings for children under 8 will not be accepted.  Some Tours (e.g., our Mixology Tours) will not allow passengers under 21 years of age.  Also please note that our Motorsports related Tours require a driver’s license or a learner’s permit with a parent/guardian present.</p>

  <p>The full names of all adults and children must be provided. Child ages must be advised at time of booking.</p>

  <p>Tour prices include hotel porterage for one bag per person only. Due to space limitations, brite spokes cannot guarantee that extra bags will be permitted on the coach. If space does permit, passengers will be charged US $4.00 per bag, per day for each additional bag. This additional charge will be collected at Tour departure.</p>

  <p>Tour prices do not include driver or guide gratuities, which are optional at the discretion of the passenger.</p>

  <h1>Not Included</h1>

  <p>For most of our Tours, unless otherwise noted, the following items are not included in the advertised Tour price:</p>

  <p>• excess bus coach baggage fees
  • travel insurance
  • gratuities
  • beverages
  • items not specifically mentioned in the itinerary
  • items of a personal nature</p>

  <p>Taxes and most third party vendor fees are beyond our control and may change without prior notice. If some taxes &amp; fees cannot be prepaid, we&#39;ll notify you to pay them directly to local vendors or authorities.</p>

  <h1>Baggage</h1>

  <p>Most of our coach buses allow one checked bag per person and one carry-on bag per person, which must fit in an overhead bin or under a seat. Certain Tours may have additional restrictions depending on the limitations of the motorcoach. You will receive specific baggage allowance information with your final documents.  If you exceed the baggage limits, you may be subject to excess baggage charges assessed by the coach company. We are not responsible for lost or damaged luggage.</p>

  <h1>Hotels</h1>

  <p>As most of our rooms are run-of-the-house, neither brite spokes nor the hotels guarantee one bed per person in doubles, triples and quads. Double rooms may contain only one double bed. Passengers requiring separate beds should specifically request this at time of booking. Separate beds will then be placed “on request”, but cannot be guaranteed. Triple and quad rooms usually contain two beds, one of which may be a rollaway or sofabed. The occupancy of a room is defined by the number of paying adults and not by the configuration or number of beds provided. Additional rollaway beds are available at an extra charge, payable directly to the hotel, but their availability cannot be guaranteed.</p>

  <p>Most hotels in the United States and Canada require a credit card deposit upon check-in to cover any incidental costs that may be incurred. In most cases, a “hold” will be put on these funds. Guests should be advised that, if they use a debit card, the funds will be withdrawn automatically from their account and may take time to be refunded.</p>

  <p>Unless otherwise stated, hotels require that one guest per room be a minimum of 21 years old.</p>

  <p>With your final travel documents, you will receive a detailed list of all accommodations on your Tour, including hotel addresses, telephone &amp; fax numbers. Sometimes due to causes beyond our control, it is necessary to change the hotels used on your Tour, but we always do our best to ensure that substitutes meet or exceed the quality and location of the original.</p>

  <h1>Hotel Star Rating and Descriptions</h1>

  <p>As there is no official rating system for hotels in the USA, we use our own star rating system to assist you in selecting the correct accommodation for your clients.</p>

  <p>Please note that our ratings may be different from those used by other organizations and that the description and price should also be considered when making your choice.</p>

  <p>Accommodation is rated from 1 to 5 stars, according to the criteria below.</p>

  <p>Certain types of accommodation such as villas, apartments, ranches and lodges may not adhere to the following guidelines but have been rated according to their overall standard.</p>

  <p>*
  Strictly budget accommodation offering basic rooms, often hostel-style with shared bath (indicated in the description). Limited or no public areas. Recommended for students and clients on a tight budget. Not usually recommended for families.</p>

  <p>**
  An economy property (often motel-style), offering simple but adequate accommodation. Public areas and on-site dining (when available) are usually limited. Recommended for cost-conscious clients.</p>

  <hr>

  <p>Typically a full-service property, offering comfortable accommodation and standard in-room amenities. A restaurant is normally available and other services and facilities are often offered. They provide a reliable choice for families, senior citizens or couples. These are the best properties for first time travelers to the USA who need to keep travel costs in mind.</p>

  <hr>

  <p>A superior property, offering well-appointed accommodation and excellent in-room amenities. Expect good facilities, comfortable public areas and a high level of service. Recommended for all types of travelers for whom cost is not a primary factor or for those looking for some level of luxury for an extended stay.</p>

  <hr>

  <p>Luxurious, exceptional property offering the highest international standards of comfort, service       and cuisine. Recommended for a discerning clientele looking for the best accommodation in their chosen destination.</p>

  <h1>Travel Insurance</h1>

  <p>We strongly recommend travel insurance coverage for your trip. We can recommend reputable and experienced agents where you can purchase comprehensive travel and baggage policies. We are not responsible for lost or stolen items. If you have purchased travel insurance, submit the original receipts for lost or stolen items to the insurance company for compensation. (Certain restrictions apply. Please review your policy or call the insurance company directly for details.)</p>

  <h1>Tour Cancellation – Minimum Passengers</h1>

  <p>Our Tours require a minimum number of passengers to operate. We reserve the right to cancel a Tour thirty (30) days prior to departure in the event that a specific departure must be cancelled due to lack of participation.</p>

  <p>We will notify all confirmed passengers prior to that date and offer alternate dates of travel or a full refund.</p>

  <p>We also reserve the right to operate a Tour in a minibus should the number of participants warrant it.</p>

  <h1>Itinerary Changes</h1>

  <p>We reserve the right to reverse and/or modify the itinerary. Any changes will be notified a minimum of thirty (30) days prior to departure.  We also reserve the right to substitute alternate hotels of similar or higher quality as determined by our hotel rating system.</p>

  <h1>Passenger Cooperation</h1>

  <p>To avoid disharmony and to provide our travelers with a positive touring experience, we reserve the right to reject or remove any participant who is deemed to be incompatible with or fractious to the group. Such determination is at the sole discretion of brite spokes and/or its representatives. In these cases, we will not refund any portion of the Tour cost, and all expenses incurred by the termination of the touring program are the responsibility of the removed traveler.</p>

  <h1>Seat Rotation</h1>

  <p>In fairness to all passengers, brite spokes has established a seat rotation schedule during the course of our Tours. Unfortunately, we are not able to honor requests.</p>

  <h1>Taxes</h1>

  <p>Our prices include all relevant federal, state and locally imposed taxes. These taxes are subject to change, often at short notice. Any increases are beyond the control of both brite spokes and our suppliers. Should taxes increase, we will notify agents/clients and bookings will be adjusted to reflect the revised tax rates.</p>

  <h1>Special Requests</h1>

  <p>Special requests (e.g. for a handicapped-accessible room, non-smoking room) need to be clearly indicated at the time of booking. brite spokes will make every effort to confirm special requests prior to passenger’s arrival, but does not automatically guarantee them, unless specifically confirmed in writing.</p>

  <h1>Travelers with Disabilities or Difficulties</h1>

  <p>Our Tours often feature sightseeing excursions which may involve strenuous activities such as hiking moderate distances, walking up steps or over uneven surfaces, ascending to high elevations, or traveling in small vehicles. It is the responsibility of travelers to determine if they are in sufficient physical condition to comfortably undertake the requirements of each Tour. If you&#39;re uncertain, please contact us at <a href="mailto:britefolks@britespokes.com">britefolks@britespokes.com</a> or 1.800.986.4735 to discuss.</p>

  <p>Travelers requiring any type of special assistance must notify us of their requirements at the time of booking and must be accompanied by a companion who will be responsible for providing all necessary assistance. Our representatives are not able to assist with these services. brite spokes does not have direct control over private and public property that may be requested to be a part of the Tour. Please note that our coaches are generally not equipped to handle wheelchairs.</p>

  <h1>Alcohol</h1>

  <p>With regard to alcoholic beverages that are ordered through brite spokes or by vendors arranged by brite spokes to be served during your Tour, brite spokes will assure that any facility or caterer hired to sell or serve alcohol (1) is in compliance with all state and local licensing requirements and (2) maintains reasonable insurance. As between brite spokes and you, you will supervise and be responsible for yourself.  If you are sponsoring a group, you will be responsible for your guests, invitees, employees and agents.  brite spokes will not supervise or control the actions of said persons and disclaims any and all responsibility for their acts and omissions.  As between brite spokes and you, you alone shall be responsible for the use of the bar and exercise your own judgment if and when to end the service of alcoholic beverages, on an individual as well as on a group basis (if you are sponsoring a group).  It is hereby understood and agreed that you will defend, hold harmless and pay, on behalf of brite spokes, all costs and sums which brite spokes shall become obligated to pay as because of the liability asserted or imposed upon brite spokes for bodily injury, sickness or disease, including death at any time there from, sustained by any person, and for injury to or destruction of any property resulting from serving any alcoholic beverage to any person in connection with the Tour.</p>

  <h1>Hours of Operation</h1>

  <p>Our office hours are Monday to Friday 8:30 AM to 5:30 PM Eastern (NYC) Time.  Requests for cancellations or changes received after 5:30 PM Eastern (NYC) Time will not be dated or handled until the following business day.</p>

  <h1>Passenger Assistance Line</h1>

  <p>brite spokes offers a 24-hour emergency telephone service at 1.800.986.4735.  It is available to provide assistance to all passengers 24/7.  Passengers may also contact us via email at <a href="mailto:onsitesupport@britespokes.com">onsitesupport@britespokes.com</a>.</p>

  <h1>Customer Service</h1>

  <p>When passengers have problems or concerns, brite spokes is fully committed to addressing those  immediately rather than upon your return. Passengers can immediately contact us at 1.800.986.4735.  The line is answered 24 hours a day, 7 days a week by trained passenger assistance specialists who can resolve the majority of issues on the spot.</p>

  <h1>Force Majeure</h1>

  <p>brite spokes shall have no responsibility for delays caused by traffic, weather or any circumstance beyond its control that has the effect of delaying or rendering the performance of its obligations hereunder impractical, inadvisable, or in any other way causes it to delay or fail to perform, in whole or in part.</p>

  <h1>Third Party Vendors</h1>

  <p>You understand and acknowledge that brite spokes is in the tour and event production business and does not own, operate, employ or manage third party vendors that it may hire for the provision of Tour services. The operators and suppliers of Tour transportation, venues, meals and other products and services are independent contractors and not agents or employees of brite spokes.  brite spokes does not have supervisory power or control over them and therefore neither brite spokes nor any of its affiliates shall be legally liable for any personal injury or damage to or loss of property arising out of the performance or non-performance by such independent contractors. Nevertheless, brite spokes shall use commercially reasonable efforts to engage only reputable vendors for all the services to be provided to you pursuant to this Agreement.  Moreover, brite spokes shall use only third party vendors who carry reasonable commercial general liability insurance. Accordingly, you agree that you will look solely to the vendor for compensation for any losses, damages or injuries.</p>

  <h1>Unused Services</h1>

  <p>There will be no refund for any portion of a Tour that is not used by the passenger.</p>

  <h1>No Assignment</h1>

  <p>All Tour reservations are non-transferable and substitution of one passenger for another at check-in is not permitted.</p>

  <h1>Changes to Terms</h1>

  <p>brite spokes reserves the right, in its sole discretion, to change the Terms and Conditions under which www.britespokes.com is offered. The most current version of the Terms and Conditions will supersede all previous versions. brite spokes encourages you to periodically review the Terms and Conditions to stay informed of our updates.</p>

  <h1>No Waiver</h1>

  <p>Any exceptions made to our Terms and Conditions may not be interpreted as a failure to enforce said Terms and Conditions and do not obligate brite spokes in any way to make future exceptions. brite spokes reserves the right to make decisions that we deem necessary and in the best interest of all parties involved in accordance with our contractual obligations to our clients and suppliers.</p>

  <h1>Relationship of the Parties</h1>

  <p>You agree that no joint venture, partnership, employment, or agency relationship exists between you and brite spokes as a result of this agreement or use of the Site. brite spokes’ performance of this agreement is subject to existing laws and legal process, and nothing contained in this agreement is in derogation of brite spokes’ right to comply with governmental, court and law enforcement requests or requirements relating to your use of the Site or information provided to or gathered by brite spokes with respect to such use. If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect.</p>

  <h1>Law; Arbitration; Jurisdiction and Venue</h1>

  <p>To the maximum extent permitted by law, this agreement is governed by the laws of the State of New York without regard to laws relating to conflicts of law and without the aid of any canon, custom or rule of law requiring construction against the draftsman.</p>

  <p>Except with respect to and the extent of equitable relief, which may or may not be sought in Arbitration or in a Court at the option of the party seeking same, any controversy or claim arising out of or relating to this Agreement, or the breach thereof, shall be settled by arbitration administered by the American Arbitration Association (“AAA”), and judgment on the award rendered by the arbitrator may be entered in any court having jurisdiction thereof.  A list of arbitrators shall be presented to the claimant and the respondent by the AAA from which one will be chosen using the applicable rules.  The hearing shall be conducted in New York, New York, unless both parties consent to a different location.  The arbitrator may proceed even in the absence of a party, provided that party had notice of the hearing.  The arbitrator may award costs of collection activities, other costs and legal fees to either party, but shall not be empowered to award indirect, special, punitive, consequential or similar damages (including, without limitation, lost revenue and lost profits) regardless of the theory of liability (contract, tort, etc.) and regardless of whether the claiming party was or should have been aware of such possibility.</p>

  <p>Otherwise, you hereby consent to the exclusive jurisdiction and venue of courts in New York in all disputes arising out of or relating to the use of the Site. Use of the Site is unauthorized in any jurisdiction that does not give effect to all provisions of these Terms, including, without limitation, this section.</p>

  <h1>Inclusion</h1>

  <p>The Sections of this Site entitled “Site Usage” and “Privacy Policy” are hereby incorporated into these Terms and Conditions and made a part hereof.</p>

  <h1>Entire Agreement</h1>

  <p>Unless otherwise specified herein, this agreement constitutes the entire agreement between the user and brite spokes with respect to the Site and it supersedes all prior or contemporaneous
  communications and proposals, whether electronic, oral or written, between the user and brite spokes with respect to the Site. A printed version of this agreement and of any notice given in
  electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent an d subject to the same conditions as other business documents and records originally generated and maintained in printed form. It is the express wish to the parties that this agreement and all related documents be written in English.</p>

  <h1>Contact Us</h1>

  <p>brite spokes welcomes your questions or comments regarding these Terms and Conditions:</p>

  <p>Allied T Pro Nevada, Inc.<br>
  brite spokes Division<br>
  500 Seventh Avenue, 9th Floor<br>
  New York, New York 10018<br>
  (212) 596-1000</p>

  <p>Email Address:<br>
  <a href="mailto:britefolks@britespokes.com">britefolks@britespokes.com</a><br>
  Telephone number: 212-596-1000</p>

  <p>Effective as of June 01, 2013</p>
</div>
