@model Britespokes.Services.GiftCards.ConfirmGiftCards
@{
  ViewBag.Title = "brite spokes - confirm gift cards";
  ViewBag.PageId = "checkout";
  Layout = "~/Views/Shared/_LayoutCheckout.cshtml";
}
<div class='container primary'>
  <div class='row'>
    <div class='giftcard-form'>
      <h1>confirm giftcards</h1>
     @* <p class='lead'>tell us who's traveling</p>*@
      @using (Html.BeginRouteForm("confirm-giftcards", FormMethod.Post, new { @class = "form-horizontal" }))
      {
       @Html.HiddenFor(m => m.GiftOrderId)
        @Html.EditorFor(m => m.GiftOrderDetail)
        <p class='pull-right'>
          almost done,
          <button class='btn btn-large btn-success'>
            continue to billing
          </button>
        </p>
      }
    </div>
  </div>
</div>
