@{
 // ViewBag.Title = "brite spokes - about";
  ViewBag.PageId = "about";
}
<div class='carousel slide'>
  <div class='carousel-inner'>
    <div class='item active'>
      <img alt='' src='@Url.AssetUrl("images/about/header.jpg")'>
    </div>
  </div>
</div>
<div class='container primary'>
  <h1>brite spokes</h1>

  <p>brite spokes is a travel brand that offers a wide variety of thematic trips, exclusive experiences and personally enriching adventures. That's the brand. At the core it is a group of individuals that are working on your behalf to create the kind of trips you dream about and would plan if you had the time to pour over online articles, call family, colleagues and friends of friends who know someone who once lived somewhere and knows the best restaurant that only the locals know about and can hook you up with the craziest activity because “they know a guy.” The kind of trip people actually want to hear all about when you get back.</p>

  <p>We have great taste, incredible connections and stellar creds… which translates to, we’ve got your back.</p>

  <h1>Kuoni and AlliedTPro</h1>

  <p>brite spokes is the millennial offspring of <a href="http://www.kuoni.com/">Kuoni</a> and it’s U.S. subsidiary <a href="http://www.alliedtpro.com/">AlliedTPro</a>, who have been global leaders in leisure travel and destination management since their establishment in 1906 and 1955 respectively.</p>

  <p>Kuoni aims to be a trusted partner for people all over the world - in direct customer contact for holidays, and as a business partner for providers and resellers of destination services. More than 13,000 employees in 100 countries on 5 continents work hard to realize this aim.</p>

  <p>AlliedTPro, well positioned in the U.S. under the Kuoni umbrella as the local specialist, has served more than 600 of the most successful tour and travel providers in 50+ countries around the world. Its core business is a comprehensive selection of multi-lingual escorted coach programs that represent the essence of both the natural and man-made wonders of the USA.</p>

  <p>brite spokes represents both brands’ deep respect for innovation and belief that new products must be supported by their established commitment to producing quality products and reliable client services. brite spokes’ experiential packages are developed from an enthusiast’s perceptive and with current, as well as developing trends in mind. Of equal importance is the mindset of the modern traveler who would like to plan and curate a trip as unique as he or she is but doesn’t have the time, resources or connections to do so. With these considerations in mind brite spokes has built innovative programs with highly researched and distinct elements, as well as partners to support a truly incredible journey.</p>

</div>