@{
 // ViewBag.Title = "brite spokes - corporate";
  ViewBag.PageId = "corporate";
}
<div class='container primary'>
  <h1>corporate or groups</h1>
  <p class='lead'>
    brite spokes welcomes corporate or social groups of all sizes. We are happy to customize one of our existing trips or create something new and brite specifically for your group. For more information and to book corporate or group trips please contact us at:
    <a href='mailto:sales@britespokes.com'>sales@britespokes.com</a>
  </p>
  <p class='lead'>
    If you are interested in adding brite spokes trips as an employee amenity please contact us at:
    <a href='mailto:sales@britespokes.com'>sales@britespokes.com</a>
  </p>
</div>
