@{
 // ViewBag.Title = "brite spokes - custom";
  ViewBag.PageId = "custom";
}
<div class='container'>
  <div class='row-fluid'>
    <div class='span6'>
      <div class='hero'>
        <img alt='' src='@Url.AssetUrl("images/custom/custom_hero.jpg")'>
      </div>
    </div>
    <div class='span6'>
      <div class='copy'>
        <div class='custom-heading'>
          <h1>custom</h1>
        </div>
        <div class='custom-body'>
          <h1>want to add a spoke?</h1>

          <p>All brite spokes experiences have been developed with you in mind - a Very Important Person. That said, if you&#39;re looking to make your trip even more exclusive, all you have to do is ask and we&#39;ll add a spoke. Private planes, access to the inaccessible, expert coaching and training, celebrity hangouts, custom massages, and unparalleled adventures are just the beginning. You speak, we&#39;ll spoke. Contact us at: <a href="mailto:britefolks@britespokes.com">britefolks@britespokes.com</a>.  </p>

          <h1>corporate or groups</h1>

          <p>brite spokes welcomes corporate or social groups of all sizes. We are happy to customize one of our existing trips or create something new and brite specifically for your group. For more information and to book corporate or group trips please contact us at: <a href="mailto:sales@britespokes.com">sales@britespokes.com</a>  </p>

          <p>If you are interested in adding brite spokes trips as an employee amenity program please contact us at: <a href="mailto:sales@britespokes.com">sales@britespokes.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
