@{
  //ViewBag.Title = "brite spokes - site usage";
  ViewBag.PageId = "policy";
}
<div class="container primary">
  <h1>SITE USAGE</h1>

  <h1>Privacy</h1>

  <p>Your use of www.britespokes.com is subject to brite spokes' Privacy Policy, which is contained on this website in the section entitled “Privacy Policy”. Please review our Privacy Policy, which also governs the Site and informs users of our data collection practices.</p>

  <h1>Electronic Communications</h1>

  <p>Visiting www.britespokes.com or sending emails to brite spokes constitutes electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communications be in writing.</p>

  <h1>No unlawful or prohibited use of Site or its Content</h1>

  <p>You are granted a non-exclusive, non-transferable, revocable license to access and use www.britespokes.com strictly in accordance with these Terms and Conditions. As a condition of your use of the Site, you warrant to brite spokes that you will not use the Site for any purpose that is unlawful or prohibited by these Terms. You may not use the Site in any manner which could damage, disable, overburden, or impair the Site or interfere with any other party's use and enjoyment of the Site. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Site.</p>

  <p>All Content included as part of the Service, such as text, graphics, logos, images, as well as the compilation thereof, and any software used on the Site, are the property of brite spokes or its affiliates or suppliers and protected by copyright and other laws that protect intellectual property and proprietary rights. You agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto.</p>

  <p>
    You will not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part, found on this Site. brite spokes content is not for resale. Your use of this Site does not entitle you to make any unauthorized use of any protected content, and in particular you will not delete or alter any 
      proprietary rights or attribution notices in any content. You will use protected content solely for your personal use, and will make no other use of the content without the express written 
      permission of brite spokes and the copyright owner. You agree that you do not acquire any ownership rights in any protected content. We do not grant you any licenses, express or implied, to the intellectual property of brite spokes or our licensors except as expressly authorized by these Terms.
  </p>

  <h1>Resale of Products and Services</h1>

  <p>The resale of the products and services listed on our Site without prior explicit written approval from brite spokes is strictly prohibited. Violation of this rule may result in the termination of your contract with brite spokes.  </p>

  <h1>Fictitious Bookings</h1>

  <p>Our system does not permit the creation of fictitious bookings. Once confirmed, all bookings are subject to all Terms and Conditions and fictitious bookings will not be honored</p>

  <h1>International Users</h1>

  <p>
    The Service is controlled, operated and administered by brite spokes from our offices within the 
      USA. If you access the Service from a location outside the USA, you are responsible for 
      compliance with all local laws. You agree that you will not use the brite spokes Content accessed 
      through www.britespokes.com in any country or in any manner prohibited by any applicable laws, restrictions or regulations.
  </p>

  <h1>Indemnification</h1>

  <p>You agree to indemnify, defend and hold harmless brite spokes, its officers, directors, employees, agents and third parties, for any losses, costs, liabilities and expenses (including reasonable attorneys' fees) relating to or arising out of your use of or inability to use the Site or services, any user postings made by you, your violation of any terms of this Agreement or your violation of any rights of a third party, or your violation of any applicable laws, rules or regulations. brite spokes reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with Brite Spokes in asserting any available defenses.</p>

  <h1>Responsibility</h1>

  <p>
    By making travel reservations on our website or purchasing any travel services offered by brite spokes, you warrant that (i) you are at least 18 years of age and have the legal authority to create a binding legal obligation; (ii) you will only make reservations for you or other people for whom you are legally authorized to act; (iii) you accept and agree to all the Terms &amp; Conditions presented herein; (iv) you will inform such other persons about the Terms &amp; Conditions that apply to the reservations you make on their behalf, and warrant that they accept and agree to those Terms &amp; Conditions; and (v) all information supplied by you for the purposes of making a reservation is true, accurate, current and complete to the best of your knowledge.
      brite spokes arranges these Tours as an independent contract with respect to the vendors that supply the actual Tour products and services.  As such, brite spokes does not own, manage, or in any other manner exercise direct control over third party vendors for the provision of goods and services for passengers pursuant to these Terms &amp; Conditions.  The suppliers of hotels, meals, venues, transportation and other products and services are independent contractors and not agents or employees of brite spokes.  brite spokes does not have supervisory power or control over them and therefore neither brite spokes nor any of its affiliates shall be legally liable for any personal injury or damage to or loss of property arising out of the performance or non-performance by such independent persons and entities. Nevertheless, brite spokes shall use commercially reasonable efforts to engage only reputable vendors for all the services to be provided to passengers pursuant to these Terms &amp; Conditions.  Moreover, brite spokes shall use only third party vendors who carry reasonable commercial general liability insurance.  Accordingly, you agree to look solely to the vendor for compensation for any said losses, damages or injuries.
  </p>

  <p>
    As a consequence, brite spokes accepts no responsibility for accidents, damage, baggage losses and/or delays due to acts or omissions by third parties, defects of vehicles or breakdown in equipment, or to the fault or default of any company used for carrying out these Tours. Nor shall brite spokes be liable for any damage resulting directly or indirectly from delays, cancellation or changes in flights. In the event it becomes necessary or advisable, for the comfort or well-being of the passengers, or for any reason whatsoever in the professional judgment of brite spokes, to alter the itinerary or arrangements, such alternations may be made without penalty or liability against brite spokes.  Additional expenses shall be borne by the passengers.
      brite spokes reserves the right, at its absolute discretion, to withdraw services and make changes and alterations in the itinerary as may be necessary for the proper handling of the Tour or to refuse or cancel any person at any time, without being under obligation to assign a reason therefore. In the event of exercise of this right, brite spokes shall be under no liability to that person whatsoever.
      Regarding any and all services and accommodations furnished, brite spokes expressly disclaims all responsibility or liability over any matter whatsoever for loss, damage, injury or expense to property or person due to any cause whatsoever occurring during the duration of the Tour or otherwise.
      In the absence of their own negligence, brite spokes shall not be responsible for any cancellations, delays, diversions or substitution of equipment, or any act or omission whatsoever by coach carriers, hotels, transportation companies, or any other persons providing any of the services and accommodations to passengers, including any results thereof, such as changes in services or accommodations necessitated by same. Nor shall it be liable for any loss or damage to baggage or property, or for injury, illness, or death, or for any damages or claims whatsoever arising from loss, negligence or delay from the act, error or negligence of any person not its direct employee or under its exclusive control. brite spokes is not responsible for any criminal conduct by third parties.
      brite spokes  reserves the right to cancel any Tour, for any reason, prior to departure and cannot be held responsible for any damages resulting from said cancellation. In case of such cancellation by brite spokes, a full refund of the monies paid to brite spokes will be offered.
      Although we strive to provide the most accurate and up to date information possible, it is possible that our Website may include inaccuracies or typographical errors. brite spokes is constantly updating and improving our site. brite spokes shall not be liable for any damages arising out of, or in any way connected with, the use of this website, or for any information, products, and services obtained through this website, or otherwise arising out of the use of this website.
  </p>

  <h1>Liability Disclaimer</h1>

  <p>
    THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SITE MAY INCLUDE INACCURACIES OR 
      TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE 
      INFORMATION HEREIN. ALLIED T PRO NEVADA, INC. AND/OR ITS SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE SITE AT ANY TIME.
  </p>

  <p>ALLIED T PRO NEVADA, INC. AND/OR ITS AFFILIATES AND/OR SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED ON THE SITE FOR ANY PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITION OF ANY KIND. ALLIED T PRO NEVADA, INC. AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NONINFRINGEMENT.</p>

  <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL ALLIED T PRO NEVADA, INC. AND/OR ITS AFFILIATES OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE SITE, WITH THE DELAY OR INABILITY TO USE THE SITE OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE SITE, OR OTHERWISE ARISING OUT OF THE USE OF THE SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF ALLIED T PRO NEVADA, INC. OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SITE, OR WITH ANY OF THESE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.</p>

  <h1>Termination or Restriction of Access</h1>

  <p>brite spokes reserves the right, in its sole discretion, to terminate your access to the Site and the related services or any portion thereof at any time for any reason, without notice.</p>
</div>