<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EFDbContext"
      connectionString="Server=tcp:hlsltkx4bn.database.windows.net,1433;Database=britespokes.dev;User ID=britespokes@hlsltkx4bn;Password=padl0ck!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Elmah"
      connectionString="Server=tcp:o1tmhit9zf.database.windows.net,1433;Database=elmah;User ID=elmah@o1tmhit9zf;Password=padl0ck!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="elmah.mvc.requiresAuthentication" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="elmah.mvc.allowedRoles" value="Admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="environment" value="development" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="orderNotificationEmailAddress" value="britefolks@britespokes.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="studentInquiryNotificationEmailAddress" value="sales@britespokes.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="authorizeNetApiLogin" value="5T85Ewy52aB" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="authorizeNetTransactionKey" value="7rnMUL59852H74b6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="authorizeNetMd5Hash" value="mZP6nE6cBPmjqAyCZpxL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="authorizeNetTestMode" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=britespokesdevstorage;AccountKey=H4Mj0z1EzQ7a0InmtzAzeWwu/tRA3obUoAzPsN4gxtVDIdRTx73ND+tJQsN0dWhujmZgday42U7XxvwfGX7YfA==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="Replace"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" >
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp" />
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="testing007111@gmail.com" password="testing()007" />
      </smtp>
    </mailSettings>
  </system.net>
  <elmah xdt:Transform="Replace">
    <security allowRemoteAccess="1" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah" />
    <errorFilter>
      <test>
        <and>
          <is-type binding="Exception" type="System.InvalidOperationException" />
          <regex binding="Exception.Message"
                 pattern="The\s+view\s+'favicon.ico'\s+or\s+its\s+master\s+was\s+not\s+found"
                 caseSensitive="false" />
        </and>
      </test>
    </errorFilter>
    <errorMail from="admin@britespokes.com"
            to="ryanesc@gmail.com"
            subject="ELMAH Error"
            async="true"
            smtpPort="0" />
  </elmah>
</configuration>