<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EFDbContext"
      connectionString="Data Source=cobalt;Initial Catalog=britespokes;Integrated Security=SSPI;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Elmah"
      connectionString="Data Source=cobalt;Initial Catalog=elmah;Integrated Security=SSPI;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="orderNotificationEmailAddress" value="ryanesc@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="studentInquiryNotificationEmailAddress" value="ryanesc@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=britespokesdevstorage;AccountKey=H4Mj0z1EzQ7a0InmtzAzeWwu/tRA3obUoAzPsN4gxtVDIdRTx73ND+tJQsN0dWhujmZgday42U7XxvwfGX7YfA==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" xdt:Transform="Replace"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" >
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp" />
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="testing007111@gmail.com" password="testing()007" />
      </smtp>
    </mailSettings>
  </system.net>
  <elmah xdt:Transform="Replace">
    <security allowRemoteAccess="0" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah" />
  </elmah>
</configuration>